VITE_AWS_REGION=ap-south-1
VITE_COGNITO_USER_POOL_ID=ap-south-1_dGoMEWNI2
VITE_COGNITO_CLIENT_ID=6aooj7ob7ika6847eetcq55cn3
VITE_COGNITO_DOMAIN=https://ap-south-1dgomewni2.auth.ap-south-1.amazoncognito.com
VITE_APP_URL=http://localhost:5173
VITE_API_URL=http://localhost:5000
VITE_ADMIN_EMAIL=yaswanthkumarpulapa@gmail.com
